@theme {
  --color-background: #fafcfd;
  --color-foreground: #32404f;
  --color-foreground-light: #32404f95;
  --color-primary: #e65f2e;

  --font-geist-sans: "Geist", "Geist Fallback";
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
  --font-crimson-pro: "Crimson Pro", "Crimson Pro Fallback";
  --font-tiempos-text: "tiemposText", "tiemposText Fallback";
}
